{% extends "templates/template.twig" %}

{% block content %}
</br></br>

<h3> Mes logements favoris: </h3>


{% if accommodations is not empty %}
<div class="zone-accommodation">
    {% for accommodation in accommodations %}
    <a href="/accommodation/{{ accommodation.accommodationID }}" id="link-accommodation">
        <div class="accommodation">
            <img src="Public/assets/images/{{accommodation.image}}" id="img-accommodation-home" alt="image-{{ accommodation.image }}">
            <div class="zone-price">{{accommodation.price}} €/nuit</div>
            <div class="description">
                <h4>{{accommodation.title}}</h4>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% else %}
<p>Aucun logement ajouté en favoris pour le moment.</p>
{% endif %}

{% endblock %}